<div class="container">
  <div class="container-padding">
    <h1 class="mat-display-2">Chambers of Xeric Potion Guide</h1>
    <h2 class="mat-display-1">Combat Potions</h2>
    <div class="cards" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="1rem grid">
      <div *ngFor="let potion of combatPotions">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar [ngClass]="[potion.headerClass]"></div>
            <mat-card-title>{{potion.name}}</mat-card-title>
            <mat-card-subtitle>{{potion.description}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Ingredients Needed:</p>
            <span *ngFor="let ingredient of potion.ingredients">
              <img src={{ingredient.image}} alt={{ingredient.alt}} matTooltip={{ingredient.name}}>
            </span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="container-padding">
    <h2 class="mat-display-1">Other Potions</h2>
    <div class="cards" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="1rem grid">
      <div *ngFor="let potion of otherPotions">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar [ngClass]="[potion.headerClass]"></div>
            <mat-card-title>{{potion.name}}</mat-card-title>
            <mat-card-subtitle>{{potion.description}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Ingredients Needed:</p>
            <span *ngFor="let ingredient of potion.ingredients">
              <img src={{ingredient.image}} alt={{ingredient.alt}} matTooltip={{ingredient.name}}>
            </span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

