<div class="container">
  <div class="container-padding">
    <h1 class="mat-display-2">Chambers of Xeric Potion Guide</h1>
    <h2 class="mat-display-1">Combat Potions</h2>
    <div class="cards" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="1rem grid">
      <div>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="header-image-elder"></div>
            <mat-card-title>Elder Potion</mat-card-title>
            <mat-card-subtitle>Boosts melee combat levels</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Ingredients Needed:</p>
            <img src="../../../../assets/golpar.png" alt="Golpar" matTooltip="Golpar">
            <img src="../../../../assets/mushroom.png" alt="Mushroom" matTooltip="Stinkhorn Mushroom">
            <img src="../../../../assets/water.png" alt="Water-filled Gourd" matTooltip="Water-filled Gourd">
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="header-image-kodai"></div>
            <mat-card-title>Kodai Potion</mat-card-title>
            <mat-card-subtitle>Boosts magic level</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Ingredients Needed:</p>
            <img src="../../../../assets/golpar.png" alt="Golpar" matTooltip="Golpar">
            <img src="../../../../assets/juice.png" alt="Endarkened Juice" matTooltip="Endarkened Juice">
            <img src="../../../../assets/water.png" alt="Water-filled Gourd" matTooltip="Water-filled Gourd">
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="header-image-twisted"></div>
            <mat-card-title>Twisted Potion</mat-card-title>
            <mat-card-subtitle>Boosts range level</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Ingredients Needed:</p>
            <img src="../../../../assets/golpar.png" alt="Golpar" matTooltip="Golpar">
            <img src="../../../../assets/cicely.png" alt="Cicely" matTooltip="Cicely">
            <img src="../../../../assets/water.png" alt="Water-filled Gourd" matTooltip="Water-filled Gourd">
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="header-image-overload"></div>
            <mat-card-title>Overload Potion</mat-card-title>
            <mat-card-subtitle>Boosts all combat levels</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Ingredients Needed:</p>
            <img src="../../../../assets/noxifer.png" alt="Noxifer" matTooltip="Noxifer">
            <img src="../../../../assets/elder.png" alt="Elder Potion" matTooltip="Elder Potion">
            <img src="../../../../assets/kodai.png" alt="Kodai Potion" matTooltip="Kodai Potion">
            <img src="../../../../assets/twisted.png" alt="Twisted Potion" matTooltip="Twisted Potion">
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="container-padding">
    <h2 class="mat-display-1">Other Potions</h2>
    <div class="cards" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="1rem grid">
      <div>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="header-image-restore"></div>
            <mat-card-title>Revitalisation Potion</mat-card-title>
            <mat-card-subtitle>Restores drained stats and prayer points</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Ingredients Needed:</p>
            <img src="../../../../assets/buchu.png" alt="Buchu" matTooltip="Buchu">
            <img src="../../../../assets/mushroom.png" alt="Mushroom" matTooltip="Stinkhorn Mushroom">
            <img src="../../../../assets/water.png" alt="Water-filled Gourd" matTooltip="Water-filled Gourd">
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="header-image-brew"></div>
            <mat-card-title>Xeric's aid</mat-card-title>
            <mat-card-subtitle>Drains combat stats. Restores HP and Defence.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Ingredients Needed:</p>
            <img src="../../../../assets/buchu.png" alt="Buchu" matTooltip="Buchu">
            <img src="../../../../assets/juice.png" alt="Endarkened Juice" matTooltip="Endarkened Juice">
            <img src="../../../../assets/water.png" alt="Water-filled Gourd" matTooltip="Water-filled Gourd">
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="header-image-prayer"></div>
            <mat-card-title>Prayer Enhance</mat-card-title>
            <mat-card-subtitle>Gradually restores prayer points over time</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Ingredients Needed:</p>
            <img src="../../../../assets/buchu.png" alt="Buchu" matTooltip="Buchu">
            <img src="../../../../assets/cicely.png" alt="Cicely" matTooltip="Cicely">
            <img src="../../../../assets/water.png" alt="Water-filled Gourd" matTooltip="Water-filled Gourd">
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

