.welcome-container {
  background-color: #edf0ff;
}

.projects-container {
  background-color: #dbe1ff;
}

.container {
  min-height: calc(100vh - 64px*2);
  padding: 64px;
}

.center-column {
  width: 80vw;
}

.mat-display-1 {
  margin: 0;
}

mat-card {
  max-width: 300px;
  min-height: 150px;
}

.mat-card{
  display:flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content{
  flex-grow: 1;
  overflow: auto;
}
