<div class="welcome-container container" fxLayout="column" fxLayoutAlign="center center" id="welcome-container-id">
  <div class="center-column">
    <p class="mat-display-3" >Hey! I'm Jacky (btw) 😋</p>
    <p class="mat-display-1">Graduate software/web developer. Video game nerd. 🎮</p>
  </div>
</div>
<div class="projects-container container" fxLayout="column" fxLayoutAlign="center center">
  <div class="center-column">
    <p class="mat-display-2" id="projects-header">Projects 💻</p>
    <div class="cards" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="1rem grid">
      <div>
        <mat-card>
          <mat-card-title>b2sLite</mat-card-title>
          <mat-card-content>b2sLite is a fork of the popular OSRS client RuneLite.</mat-card-content>
          <mat-card-actions>
            <a mat-button [routerLink]="['/osrs/b2sLite']" routerLinkActive="router-link-active" >MORE INFO</a>
            <a mat-button href="https://github.com/jkybtw/b2slite" target="_blank">GITHUB</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-title>OptomCards</mat-card-title>
          <mat-card-content>An optometry flashcard/study app with questions fetched from a Google Sheet.</mat-card-content>
          <mat-card-actions>
            <a mat-button href="https://jkybtw.github.io/optomcards/">VIEW</a>
            <a mat-button href="https://github.com/jkybtw/flash-cards" target="_blank">GITHUB</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-title>Contact Lens Products</mat-card-title>
          <mat-card-content>A simple web app that displays properties of different contact lens products based on filters.</mat-card-content>
          <mat-card-actions>
            <a mat-button href="https://jkybtw.github.io/cl/">VIEW</a>
            <a mat-button href="https://github.com/jkybtw/contact-lenses" target="_blank">GITHUB</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-title>Energy Australia Test</mat-card-title>
          <mat-card-content>Coding test for Energy Australia. Fetches data from an online API (if available) and displays it in a different order.</mat-card-content>
          <mat-card-actions>
            <a mat-button href="https://jkybtw.github.io/ea/">VIEW</a>
            <a mat-button href="https://github.com/jkybtw/energy-aus" target="_blank">GITHUB</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-title>MEAN Stack Test Project</mat-card-title>
          <mat-card-content>An example application built to learn more about the MEAN stack.</mat-card-content>
          <mat-card-actions>
            <a mat-button href="https://jkybtw.github.io/mean_tute/">VIEW</a>
            <a mat-button href="https://github.com/jkybtw/MEAN_example_frontend" target="_blank">GITHUB</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
