/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  color: #333747;
}

simple-snack-bar span {
  color: #F4F6FF;
}

mat-card {
  background: #FAFFFF;
}

/* https://colors.muz.li/palette/4a4e66/333747/edf0ff/dbe1ff/faffff */
